# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: 
      - gh-pages
  schedule:
    - cron: '55 19 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: node src/sitemap-generator.js
    - name: Update sitemap.txt
      uses: test-room-7/action-update-file@v1
      with:
          file-path: |
            sitemap.txt
          commit-msg: Update sitemap.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
